$menu-background-color-mobile: lightcyan;
$menu-background-color-tablet: transparent;
$menu-items-color: black;
$menu-items-color-hover: #ddd;

$menu-bar-color: firebrick;

$body-background-color: white;

$font-family: Times New Roman;