@import 'account-media-query';
@import 'accountpage-colors';


.first-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 240px;

    @include media(">=500px"){
        width: 300px;
    }
    @include media(">=600px"){
        width: 330px;
    }
    @include media(">=800px"){
        padding-left: 15px;
    }
}
    
.first-box ~ div{
        @extend .first-box;
    }

    
.account-box > form > div > label{
    align-self: flex-start;
    font-size: 20px;
    font-family: $font-family;
    font-weight: bold;
    color: $form-label-color;
}
.account-box > form > div > input{
    width: 100%;
    font-family: $font-family;
    font-size: 15px;

    border-radius: 8px;
}